API_KEY="REPLACE WITH YOUR ARBISCAN API KEY"

# PRIVATE KEY from MetaMask
PRIVATE_KEY="REPLACE WITH YOUR WALLET PRIVATE KEY"

# RPC URL for Arbitrum Sepolia Testnet
RPC_URL="https://sepolia-rollup.arbitrum.io/rpc"

